@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
    @apply dark:bg-trueGray-900;
  }
  body {
    @apply dark:bg-trueGray-900;
  }
}

